/* ==========================================================================

  Base Stylesheet  My Own Personal Template
  Author: Cassandra King http://cassandraking.net;
  Version: 1.00 - Last Updated: May 2014
  with elements from https://github.com/matthewhartman/base/blob/master/sass/style.scss
  and http://html5boilerplate.com/

========================================================================== */

  @import "mixins"; // Import   mixins
  @import "variables"; // Import  variables
  @import "../../fonts/fonts.css"; // Import fonts
  @import "../../fonts/font-awesome.css"; // Import fontawesome



/* ==========================================================================
/* Document
   ========================================================================== */
/* Body */
html, body {

    font-size: 100%;
    font-family: "source_sans_proregular", sans-serif;
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

 /*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  display: tableta;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background: $greydark; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  text-shadow: none; }

::selection {
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

/*
 * Redeclare monospace font family: h5bp.com/j
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'Menlo', 'courier new', monospace;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol,
dd {
  margin: 0;
  padding: 0; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }


/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Indicate that 'label' will shift focus to the associated form element
 */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button,
input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }
/* =============================================================================
  End h5bp reset styles
   ========================================================================== */


/* Headings h1, h2, h3, h4, h5, h6 and p elements
   ========================================================================== */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
    font-family: "museo_slab500", sans-serif;
    margin: 0;
}
h1, .h1 {
    font-size: 3em;
    /*line-height: 1;*/
    line-height: 2em;
    margin-bottom: 0.5em;
}
h2, .h2 {
    font-size: 2.25em;
    line-height: 1.3333333333333333;
    margin-bottom: 0.6666666666666666em;
}
h3, .h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4, .h4 {
    font-size: 1.3125em;
    line-height: 1.1428571428571428;
    margin-bottom: 1.1428571428571428em;
}
h5, .h5 {
    font-size: 1.125em;
    line-height: 1.3333333333333333;
    margin-bottom: 1.3333333333333333em;
}
h6, .h6 {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}
p {
    font-size: 1em;
    margin: 0 0 1.5em;
    line-height: 1.5;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

/* Strong and Italic */
b, strong { font-style: bold;}
i, em, .em { font-style: italic;}

/* Links */
a { color: $bluemedium; }
a:hover { text-decoration: none; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }


/* Abbreviations */
abbr[title] { border-bottom: 1px dotted; }


/* Images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://link-to/image.jpg) no-repeat;
  }

/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  height: 1px;
}

/* Quotes and Code
   ========================================================================== */
/* Block Quotes and Quotes */
blockquote {
 font-size: 1em;
    margin: 0 0 1.5em;
    padding: 0;
    font-family: "quicksandregular", sans-serif;
     -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

 color: #434343;
  margin: 1em 0;
  font-style: italic;
  p {
    margin: 1em 0;
  }
}

q {
  font-style: italic;
  quotes: none;
}
blockquote:before, q:before {
  font-family: "FontAwesome", sans-serif;
  display: inline-block;
  content: '\f10d';
  
}
blockquote:after, q:after {
  font-family: "FontAwesome", sans-serif;
  display: inline-block;
  content: '\f10e';
  
}
/* ==========================================================================
/* Navigation
   ========================================================================== */

nav {
  display: none;
  width: 100%;
  height: 100%;
  background: inherit;
  overflow-y: auto;
  @include clearfix;
  transition: all 0.3s ease;
    &#menu-horizontal {
         @include clearfix;
          width: 100%;
          display: block;
          ul {
              display: block;
              margin: 0 auto;
              @include clearfix;
            li {
              display: inline-block;
              width:10em;
              text-align: center;
             
              a {
                background: $black;
                color: $greylight;
                border: 1px solid $greydark;
                @include rounded(8);
                @include box-shadow-custom(0,0,3px,$greydarkest);
              &:hover {
                color: $white;
              }
              }
            }
          }
    }
  a {
    display: block;
    background: $white;
    border-top: 1px solid $white;
    border-bottom: 1px solid $bluemedium;
    color: $white;
    text-decoration: none;
    padding: 15px;
    transition: all 0.3s ease;
    &:hover, &:focus {
      color: $bluedeep;
      background: $bluelight; 
        }

  }
  
}
.menu-trigger {
  font-family: "FontAwesome";
  color: $bluemedium;
  text-decoration: none;
  transition: all 0.3s ease;
  &:active, 
  &:focus {
    color: $bluedeep;
  }
}

/* ==========================================================================
/* Grid Layout (Responsive) Mobile first
   ========================================================================== */
/* Sections & Content Blocks */
article, section, aside {
  position: relative;
 /* border: 1px solid $bluelight;*/
}
aside {
  float: left;
  /*clear: both;*/
}
* {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
header[role="banner"] {
  margin: 0 auto;
  text-align: center;
}
#header-container {
  margin: 0 auto;
  @include clearfix;
}
#main-container {
   @include preserve-3d;
}
div[role="main"] {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main {
  .row {
    padding-top:0;
  }
}
.info {
  h2 {
    color: $white;
  }
  p {
  width: 90%;
  color: $white;
  margin: 0 auto;
  text-align: left;
  line-height: 1.9;
  }
}
.wrapper {
   @include preserve-3d;
  margin: 0 auto;
  @include clearfix;
  h1 {
    color: $greylight;
    text-shadow: 0 0 3px #111;
  }
  width: 100%;
  @include clearfix;
  section {

    @include clearfix;
    .col .col-3 {
      padding: 0;
      margin: 0 auto;
    }
    .flip-container {
     /* -webkit-transform-style: preserve-3d;
       @include transform(translateZ(-1em));*/
      /*  @include preserve-3d;*/
      min-width: 23em;
      position: relative;
      @include clearfix;
      margin: 2em;
      padding: 0;

      /* entire container, keeps perspective */
     /* @include perspective(900px);*/
     
      .flip-content3D {
     /*   @include preserve-3d;
        @include transform(translateZ(-1em));*/
        position: relative;
        @include clearfix;
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
          figure {
          padding-top: 20%;
          @include perspective(300px);
          @include backface-visibility(hidden);
          position: absolute;
          width: 100%;
          height: 100%;
          @include rounded(20);
          @include box-shadow-custom(0px, 0px, 15px, $greydarkest);
          border: 4px solid $greydarkest;
          p { 
            font-size: 1.1em;
            font-family: "quicksandregular", sans-serif;
            margin-bottom: 1em;
            padding-left: 1em;
            padding-right: 1em;
         }

          &.front {
            @include transition(all, 0.5s, ease, 500ms);

/*             @include transform(translateZ(-800em)); // orders the back side
*/          display: block;  
            @include rotateX(0deg);
            height: 300px;/*added height here and fixed z-index issue*/
            text-shadow: 0 0 3px $greydarkest;
            color: $white;

            h2 {
              margin-bottom: 2px;
              font-size:2em;
              text-transform: uppercase;
              color: $greymid;
            }
            h3 {
              font-size:1.3em;
              letter-spacing: 8px;
              line-height: 5;
              text-transform: lowercase;
              margin-top: -10px;
            }
          }
          &.back {
            z-index:900; // only necessary for flat (transform-style);
            @include transform(translateZ(800em)); // orders the back side
            width: 26em;
            height: auto;
            min-height: 300px;
            @include transition(all, 0.5s, ease, 200ms);
            padding-top: 5%;
            margin-left: -8%;
            display: block;
            @include rotateX(-180deg);
            color: $white;
            text-shadow: 0 0 3px #111;
            &.one,
            &.five,
            &.nine,
            &.thirteen {
              background: $pink; 
            } 
            &.two,
            &.six,
            &.ten,
            &.fourteen {
             
              background: $orange; 
            }
            &.three,
            &.seven,
            &.eleven,
            &.fifteen {
              background: $blueaqua; 
            }
            &.four,
            &.eight,
            &.twelve,
            &.sixteen {
              background: $green; 
            }   
          }
         } 
        &:hover, 
        &:focus,
        &:active {
            figure {
              &.front {
                 @include perspective(300px);
                 @include rotateX(180deg);
                  background: opacity(0.1);
              }
              &.back {
                 @include perspective(300px);
                 @include rotateX(0deg);

      
              }
            }
          }
          
      }
    }
  }
}

.container {
  width: auto;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @include clearfix;
}

/* Fluid Grid */
.col {
 /* float: left;*/
 display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
/*  border: 1px solid $bluelight;*/
  min-width:7.45em;
}

/* Columns */
.col-1 {
  width: 8.33333%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 1);
  width: -webkit-calc(100% / 12 * 1);
  width: -moz-calc(100% / 12 * 1);
}
.col-2 {
  width: 16.66667%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 2);
  width: -webkit-calc(100% / 12 * 2);
  width: -moz-calc(100% / 12 * 2);
}
.col-3 {
  width: 25%; // Fallback if Calc() is not supported
  min-width: 11em;
  width: calc(100% / 12 * 3);
  width: -webkit-calc(100% / 12 * 3);
  width: -moz-calc(100% / 12 * 3);
}
.col-4 {
  width: 33.33333%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 4);
  width: -webkit-calc(100% / 12 * 4);
  width: -moz-calc(100% / 12 * 4);
}
.col-5 {
  width: 41.66665%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 5);
  width: -webkit-calc(100% / 12 * 5);
  width: -moz-calc(100% / 12 * 5);
}
.col-6 {
  width: 50%; // Fallback if Calc() is not supported
  min-width: 22em;
  width: calc(100% / 12 * 6);
  width: -webkit-calc(100% / 12 * 6);
  width: -moz-calc(100% / 12 * 6);
}
.col-7 {
  width: 58.33333%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 7);
  width: -webkit-calc(100% / 12 * 7);
  width: -moz-calc(100% / 12 * 7);
}
.col-8 {
  width: 66.66666%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 8);
  width: -webkit-calc(100% / 12 * 8);
  width: -moz-calc(100% / 12 * 8);
}
.col-9 {
  width: 75%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 9);
  width: -webkit-calc(100% / 12 * 9);
  width: -moz-calc(100% / 12 * 9);
}
.col-10 {
  width: 83.33333%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 10);
  width: -webkit-calc(100% / 12 * 10);
  width: -moz-calc(100% / 12 * 10);
}
.col-11 {
  width: 91.66666%; // Fallback if Calc() is not supported
  width: calc(100% / 12 * 11);
  width: -webkit-calc(100% / 12 * 11);
  width: -moz-calc(100% / 12 * 11);
}
.col-12 { width: 100%;  }

/* Rows */
.row {
  min-width: 33%;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* ==========================================================================
/* footer
   ========================================================================== */

footer {
  z-index: 0;
  position: relative;
  margin: 20px auto;
  width: 100%;
  float: left;
  /*min-width: 47em;*/
  @include clearfix;
  nav {
    overflow: visible;
    margin: 0 auto;
    display: block;
    ul {
        margin: 0 auto;
        padding: 1.25em;/*20px*/
        text-align: center;
        width: 100%;
        @include clearfix;
      li {
         overflow: visible;
          display: inline-block;
          @include clearfix;
        a {
            display: block;
            position: relative;
            text-transform: uppercase;
            background: transparent;
            text-decoration: none;
            color: $greylight;
            padding: 15px 1.875em; /*1.875em / 30px*/
            margin: 0;
            border: none;
            @include text-shadow($black);
            span {
               text-indent: -9999px;
               display: block; 
                visibility: hidden;
            }
            &:hover,
            &:focus {
              padding: 15px 1.875em ;/*1.875em / 30px*/
              background: transparent;
              color: $jade;
              opacity: 0.7;
              @include scale(1.3);
              span {
                position: absolute;
                top: -30px;
                left: 20%;
                text-indent: 0;
                text-transform: lowercase;
                display: block; 
                padding: 5px;
                background: $jade;
                color: $white;
                @include rounded(8);
                visibility: visible;
                &:after {
                  content: ' ';
                  width: 0;
                  height: 0;
                  position: absolute;
                  bottom: -5px;
                  left: 12%;
                  border-left: 10px solid transparent;
                  border-right: 10px  solid transparent;
                  border-top: 10px solid $jade;;
                }
              }
            }
            &:after {
               /*default:github*/
                content: "\f113";
                display: block;
                padding: 0;
                margin: 0;
                background: transparent;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-align: center;
              }             
        }
        /*twitter*/
         &:nth-child(1) a:after {
          content: " \f099";
        }
        /*external link*/
        &:nth-child(3) a:after {
          content: "\f08e";
        }
         &:nth-child(4) a:after {
          content: "\f08e";
        }
        &:nth-child(5) a:after {
          content: "\f110";
        }
      }
    }
   
  }
}


/* ==========================================================================
/* SS Helpers 
   ========================================================================== */
.hide, 
[hidden],
.no-desktop {
  display: none;
}
nter-text { text-align: center; }

/* Accessibility (offscreen text for screen readers) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
/* ==========================================================================
/* mobile landscape 30em;//480px  */ 
/* ========================================================================== */
/*$tablet-container-width:              48em;//768px /* Small devices (tablets, 768px and up) */
/*$desktop-container-width:             62em;//992px /* Medium devices (desktops, 992px and up) */
/*$large-container-width:               75em;//1200px /* Large devices (large desktops, 1200px and up) */

@media screen  and (max-width: 30em) {

  .flip-container {
    /*border: 1px solid red;*/
   
  }


}


/* ==========================================================================
/*Small devices (tablets,  48em;//768px ) */
/* ========================================================================== */
/*$tablet-container-width:              48em;//768px /* Small devices (tablets, 768px and up) */
/*$desktop-container-width:             62em;//992px /* Medium devices (desktops, 992px and up) */
/*$large-container-width:               75em;//1200px /* Large devices (large desktops, 1200px and up) */

@media screen and (max-width: 48em) {/*48em*/

.container {

  max-width: 48em;
  padding-left: 10px;
  padding-right: 10px;
   /* comment these below if not using panel menu*/
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $bluelight; 
    &:first-child { 
      margin-left: auto;
    }
}

.flip-container {

/* border: 1px solid green;
*/}

.tablet-container-full {
  padding-left: 0;
  padding-right: 0;
  /* uncommment these if not using panel menu*/
 /* margin-left: auto;
  margin-right: auto;*/
  float: none;
  &:first-child { margin-left: auto; }
}

.tablet-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

/* Tablet Grid */
.tablet-col-1 {
  width: 8.33333%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 1);
  width: -webkit-calc(100% / 12 * 1);
  width: -moz-calc(100% / 12 * 1);
}
.tablet-col-2 {
  width: 16.66667%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 2);
  width: -webkit-calc(100% / 12 * 2);
  width: -moz-calc(100% / 12 * 2);
}
.tablet-col-3 {
  width: 25%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 3);
  width: -webkit-calc(100% / 12 * 3);
  width: -moz-calc(100% / 12 * 3);
}
.tablet-col-4 {
  width: 33.33333%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 4);
  width: -webkit-calc(100% / 12 * 4);
  width: -moz-calc(100% / 12 * 4);
}
.tablet-col-5 {
  width: 41.66665%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 5);
  width: -webkit-calc(100% / 12 * 5);
  width: -moz-calc(100% / 12 * 5);
}
.tablet-col-6 {
  width: 50%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 6);
  width: -webkit-calc(100% / 12 * 6);
  width: -moz-calc(100% / 12 * 6);
}
.tablet-col-7 {
  width: 58.33333%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 7);
  width: -webkit-calc(100% / 12 * 7);
  width: -moz-calc(100% / 12 * 7);
}
.tablet-col-8 {
  width: 66.66666%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 8);
  width: -webkit-calc(100% / 12 * 8);
  width: -moz-calc(100% / 12 * 8);
}
.tablet-col-9 {
  width: 75%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 9);
  width: -webkit-calc(100% / 12 * 9);
  width: -moz-calc(100% / 12 * 9);
}
.tablet-col-10 {
  width: 83.33333%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 10);
  width: -webkit-calc(100% / 12 * 10);
  width: -moz-calc(100% / 12 * 10);
}
.tablet-col-11 {
  width: 91.66666%; // Fallback if calc() is not supported
  width: calc(100% / 12 * 11);
  width: -webkit-calc(100% / 12 * 11);
  width: -moz-calc(100% / 12 * 11);
}
.tablet-col-12 { width: 100%; }


/* End tablet Media Query */
} 

/* ==========================================================================
//* Desktop Styles
//* ==========================================================================*/
/*$tablet-container-width:              48em;//768px /* Small devices (tablets, 768px and up) */
/*$desktop-container-width:             62em;//992px /* Medium devices (desktops, 992px and up) */
/*$large-container-width:               75em;//1200px /* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 40em) {
    .info {
  p {
  @include columns(2);
  &.external {
    @include columns(1);
    text-align: center;
  }
  }
  a {
    text-decoration: none;
    @include text-shadow($black);
    color: $orange;

    &:hover {
      color: $jade;
 
    }
  }
}
}
@media screen and (min-width: 48em) {
// Desktop Styles

   .container {
    min-width: 48em;
    max-width: 75em;
  }
  .wrapper {
    section {
      .flip-container {
/*        border: 6px solid white;
*/        margin-left: 0.20em;
        margin-right:0.20em;
      }
    } 
  }
   .info {
  p {
  width: 65%;
  }
}


}
@media screen and (min-width: 53em) {
.wrapper {
    section {
      .flip-container {
     /*   border: 8px solid red;*/
        margin-right:1.5em;
      }
    } 
  }
}
 
 /* ==========================================================================
//* Large devices (large desktops, 1200px and up) */
/* ==========================================================================*/
/*$tablet-container-width:              48em;//768px /* Small devices (tablets, 768px and up) */
/*$desktop-container-width:             62em;//992px /* Medium devices (desktops, 992px and up) */
/*$large-container-width:               75em;//1200px /* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 62em) {
// Large Styles
   .container {
    min-width: 62em;
  }
  .wrapper {
    section {
      .flip-container {
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
    } 
  }
 


}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

::-moz-selection {
  background: #65a9cc;
  color: #f7f7f7; }

::selection {
  background: #65a9cc;
  color: #f7f7f7; }
